<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <script src="../angular/angular.min.js"></script>
</head>
<body>
    <h2>Validation Example</h2>
    <form ng-app="myApp" ng-controller="validateCtrl" name="myForm" novalidate>
      <p>用户名:<br>
        <input type="text" name="user" value="" ng-model="user" required>
        <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid"></span>
        <span ng-show="myForm.user.$error.required">用户名是必须的。</span>
      </p>
      <p>邮箱:<br>
        <input type="email" name="email" ng-model="email" required value="">
        <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid"></span>
        <span ng-show="myForm.email.$error.required">邮箱是必须的</span>
        <span ng-show="myFomr.emal.$error.email">邮箱是非法的</span>
      </p>
      <p>
        <input type="submit" ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||myForm.email.$dirty && myForm.email.$invalid">
      </p>
    </form>
    <script>
      var app=angular.module("myApp",[]);
      app.controller("validateCtrl",function($scope){
        $scope.user="John";
        $scope.email="John.doe@gmail.com";
      });
    </script>
</body>
</html>
